@use "../base/mixins";
@use "../base/colors";
@use "../base/media";

@import "accordion";

.hamburger-menu {
	position: relative;
	display: none;

	@include tablet {
		display: flex;
		align-items: center;
	}

	@include mobile {
		border-left: 1px solid $medium-grey;
		height: 100%;
	}

	&__toggle:checked ~ &__btn > span {
		transform: rotate(45deg);
	}
	&__toggle:checked ~ &__btn > span::before {
		top: 0;
		transform: rotate(0);
	}
	&__toggle:checked ~ &__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	&__toggle:checked ~ &__container {
		right: 0;
		visibility: visible;
	}

	&__btn {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;

		width: remsize(15);
		height: remsize(10);

		cursor: pointer;
	}

	&__btn > span,
	&__btn > span::before,
	&__btn > span::after {
		position: absolute;
		display: block;

		width: 100%;
		height: 1px;

		transition-duration: 0.25s;

		background-color: $dark-grey;
	}
	&__btn > span::before {
		top: remsize(-6);
		content: "";
	}
	&__btn > span::after {
		top: remsize(5);
		content: "";
	}

	&__container {
		position: fixed;

		top: remsize(90);
		right: 100%;
		display: block;
		visibility: hidden;

		width: 100%;
		height: 100%;
		padding: remsize(30);

		transition-duration: 0.25s;

		@include mobile {
			top: remsize(30);
			padding: remsize(20) remsize(15);
			overflow: auto;
		}
	}

	&__toggle {
		opacity: 0;
	}

	&__location.location {
		margin-top: remsize(48);

		@include mobile {
			margin-top: remsize(20);
		}
	}

	&__contacts.contacts {
		display: none;

		@include mobile {
			margin-top: remsize(20);
			display: flex;
		}
	}
}
