/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$grey: #f0f0f0;
$medium-grey: #e5e5e5;
$dark-grey: #999;

/* Components */
