@import "base/mixins";
@import "base/colors";
@import "base/media";

.header {
	display: flex;
	align-items: center;
	height: remsize(90);
	border-bottom: 1px solid $medium-grey;

	&__box {
		padding: 0 remsize(35);
	}

	&__link {
		color: $dark-grey;
		cursor: pointer;
	}
}

.logo {
	display: block;
	width: remsize(143);
	height: 100%;
}

.menu-header {
	display: flex;
	flex: 1;
	align-items: center;
	border-left: 1px solid $medium-grey;
	gap: remsize(30);
	height: 100%;

	&__list {
		display: flex;
		gap: remsize(30);
	}

	@include tablet {
		display: none;
	}
}

.location-header {
	display: flex;
	align-items: center;
	gap: remsize(10);

	&__icon {
		width: remsize(24);
		height: remsize(24);
	}

	@include tablet {
		display: none;
	}
}

.contacts-header {
	display: flex;
	align-items: center;
	height: 100%;
	border-left: 1px solid $medium-grey;
	gap: remsize(10);

	&__icon {
		width: remsize(24);
		height: remsize(24);
	}

	@include tablet {
		flex: 1;
		justify-content: flex-end;
		border-left: none;
		border-right: 1px solid $medium-grey;
	}
}

.hamburger-menu {
	position: relative;
	display: none;

	&__toggle:checked ~ &__btn > span {
		transform: rotate(45deg);
	}
	&__toggle:checked ~ &__btn > span::before {
		top: 0;
		transform: rotate(0);
	}
	&__toggle:checked ~ &__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	&__toggle:checked ~ &__box {
		visibility: visible;
		right: 0;
	}

	&__btn {
		display: flex;
		align-items: center;
		position: relative;

		width: remsize(15);
		height: remsize(10);

		cursor: pointer;
		z-index: 1;
	}

	&__btn > span,
	&__btn > span::before,
	&__btn > span::after {
		display: block;
		position: absolute;

		width: 100%;
		height: 1px;

		background-color: $dark-grey;

		transition-duration: 0.25s;
	}
	&__btn > span::before {
		content: "";
		top: remsize(-6);
	}
	&__btn > span::after {
		content: "";
		top: remsize(5);
	}

	&__box {
		display: block;
		position: fixed;
		visibility: hidden;
		padding: remsize(30);

		top: remsize(90);
		right: 100%;

		width: 100%;
		height: 100%;

		transition-duration: 0.25s;
	}

	&__item {
		display: block;
		padding: 12px 24px;
		position: relative;

		color: #333;

		font-family: "Roboto", sans-serif;
		font-size: 20px;
		font-weight: 600;

		text-decoration: none;

		transition-duration: 0.25s;

		p {
			color: rgba(48, 69, 92, 0.8);
			font-size: 17px;
			line-height: 26px;
			letter-spacing: 1px;
			position: relative;
			overflow: hidden;
			max-height: 800px;
			opacity: 1;
			transform: translate(0, 0);
			margin-top: 14px;
			z-index: 2;
		}

		.transition,
		i:before,
		i:after,
		p {
			transition: all 0.25s ease-in-out;
		}

		.flipIn,
		&,
		h1 {
			animation: flipdown 0.5s ease both;
		}

		&:nth-of-type(1) {
			animation-delay: 0.5s;
		}
		&:nth-of-type(2) {
			animation-delay: 0.75s;
		}
		&:nth-of-type(3) {
			animation-delay: 1s;
		}
		&:last-of-type {
			padding-bottom: 0;
		}

		i {
			position: absolute;
			transform: translate(-6px, 0);
			margin-top: 16px;
			right: 0;
		}
		i:before,
		i:after {
			content: "";
			position: absolute;
			background-color: #ff6873;
			width: 3px;
			height: 9px;
		}
		i:before {
			transform: translate(-2px, 0) rotate(45deg);
		}
		i:after {
			transform: translate(2px, 0) rotate(-45deg);
		}

		input[type="checkbox"] {
			position: absolute;
			cursor: pointer;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0;
		}
		input[type="checkbox"]:checked ~ p {
			margin-top: 0;
			max-height: 0;
			opacity: 0;
			transform: translate(0, 50%);
		}
		input[type="checkbox"]:checked ~ i:before {
			transform: translate(2px, 0) rotate(45deg);
		}
		input[type="checkbox"]:checked ~ i:after {
			transform: translate(-2px, 0) rotate(-45deg);
		}
	}

	&__toggle {
		opacity: 0;
	}

	@include tablet {
		display: flex;
	}
}

@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}
	5% {
		opacity: 1;
	}
	80% {
		transform: rotateX(8deg);
	}
	83% {
		transform: rotateX(6deg);
	}
	92% {
		transform: rotateX(-3deg);
	}
	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}
