@use "base/mixins";
@use "base/colors";
@use "base/media";

@import "components/hamburger";

.header {
	display: flex;
	align-items: center;
	height: remsize(90);
	border-bottom: 1px solid $medium-grey;
}

.header-box {
	padding: 0 remsize(35);
}

.header-link {
	display: block;
	cursor: pointer;
	font-size: remsize(16);
	font-weight: 600;
	line-height: remsize(24.8);
	color: $dark-grey;

	@include desktopS {
		font-size: remsize(15);
		line-height: remsize(23.25);
	}

	@include tablet {
		font-size: remsize(14);
		line-height: remsize(21.7);
	}
}

.logo {
	display: block;
	width: remsize(143);
	height: 100%;
}

.menu-header {
	display: flex;
	flex: 1;
	align-items: center;
	height: 100%;
	border-left: 1px solid $medium-grey;
	gap: remsize(30);

	&__list {
		display: flex;
		gap: remsize(30);
	}

	@include tablet {
		display: none;
	}
}

.location-header {
	display: flex;
	align-items: center;
	gap: remsize(10);

	&__icon {
		width: remsize(24);
		height: remsize(24);
	}
}

.location-header.header-box {
	@include tablet {
		display: none;
	}
}

.contacts-header {
	display: flex;
	align-items: center;
	height: 100%;
	border-left: 1px solid $medium-grey;
	gap: remsize(10);

	&__icon {
		width: remsize(24);
		height: remsize(24);
	}

	@include tablet {
		flex: 1;
		justify-content: flex-end;
		border-right: 1px solid $medium-grey;
		border-left: none;
	}
}
